@use '../custom' as *;
@use '../components/mixins' as *;
.menu{
   @include gradient;
    li{
        padding:0 0.7rem;
        a{
            color: $white !important;
            text-transform: capitalize;
            font-size: 1.2rem;
        }
    }
    img{
        height:50px;
    }
    .brand-name{
            display: flex;
            float: right;
            color: $white !important;
            text-transform: capitalize;
            font-size: 2rem;
            margin-top:4px;
            margin-left: 4px;

    }
}