//pulse border
@keyframes pluse-border{
    0%{
        transform: scale(1);
        opacity: 1;
    }

    100%{
        transform: scale(1.2);
        opacity: 0;
    }
}


@keyframes infinite_logo_carousel {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}